
.container{ display: flex; align-items: center; justify-content: center; padding-top: 50px; }

.post-container{ width: 1000px;  }

.post-wrap{
  &{ width: 100%; border: 1px solid rgba(219, 219, 219, 1); border-radius: 10px; }

  header{
    &{ width: 100%; height: 40px; padding: 0; display: flex; border-bottom: 1px solid rgba(219, 219, 219, 1); }
    .h1{ align-items: center;}
    img{ height: 18px; }
    button{ border: 0; padding: 8px 16px; background: none; cursor: pointer; }
    button.share_btn{ color: #0070f3; }
  }
}


.write{
  &{ display: flex; }
  .img-area{
    &{ width: 70%; height: inherit; display: flex; justify-content: center; }
    input[type="file"]{ width: 1px; height: 1px; padding: 0; }
    .area-box{ display: flex; justify-content: center; align-items: center; }
    .area-box label{ color: #FFFFFF; background-color: #0070f3; padding: 8px 16px; border-radius: 10px; cursor: pointer; }
  }

  .text-area{
    &{ width: 30%; border-left: 1px solid rgba(219, 219, 219, 1); }
    .myProfile{ margin-bottom: 10px; }
    .area-box{ border-bottom: 1px solid rgba(219, 219, 219, 1); }
    .area-box+.area-box{ margin-bottom: 100px; }
    .pic{ width: 30px; height: 30px; }
    .point-span{ margin-left: 15px; }
    input, textarea{ width: 100%; border: 0; padding: 12px; resize: none; }
    .input_text{ height: 250px; }
  }


}